<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" href="~/Content/images/Logos/NeilSmith_Logo.NoText.Black.ico">
    <title>Neil Smith | Fitness</title>
    @*CSS Bundle*@
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
    @Styles.Render("~/bundles/css")

</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            <li><a href="#aboutMe">About Me</a></li>
            <li><a href="#buildMuscle">Build Muscle</a></li>
            <li><a href="#burnFat">Burn Fat</a></li>
            <li><a href="#photoCarroussel">Programs</a></li>
            <li><a href="#contactPanelContainer">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a target="_blank" href="https://www.instagram.com/neilsmith1984/">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
            <a class="navbar-brand" href="#">
                <img src="~/Content/images/Logos/NeilSmith_Logo.NoText.White.svg" class="img-responsive">
            </a>
        </ul>
    </div>
</nav>

@RenderBody()
<footer>
    <div class="container">
        <div>
            <p>&copy; @DateTime.Now.Year - www.NeilSmithFitness.com</p>
        </div>
    </div>
</footer>

@*JS Bundle*@
@Scripts.Render("~/bundles/js")

</body>
</html>

@*Javascript library startup*@
<script src="~/Scripts/JSStartup/launchPhotoCaroussel.js"></script>@*CAROUSSEL PHOTO GALLERY (auto run)*@
<script src="~/Scripts/JSStartup/launchSpinnerLoadingAndModalPopUp.js"></script> @*MODAL POP UP - Spinner Loading*@
<script src="~/Scripts/JSStartup/launchGoogleMap.js"></script>@*Google Map for house location*@
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbunbKx8vsHKrNWwhJlsZmSCDawGDeqY8&callback=initMap">
</script>@*Gmap key*@
<script src="~/Scripts/JSStartup/launchAOS.js"></script>@*AOS special effect framework*@
<script src="~/Scripts/JSStartup/launchStellar.js"></script>@*STELLAR*@
<script src="~/Scripts/JSStartup/launchVerticalSmoothlyNav.js"></script>@*Vertical smoothly side scroll*@