<div class="vNav">
    <ul class="vNav">
        <li>
            <a href="#welcomePanel">
                <div class="label">Home</div>
            </a>
        </li>
        <li>
            <a href="#aboutMe">
                <div class="label">About Me</div>
            </a>
        </li>
        <li>
            <a href="#buildMuscle">
                <div class="label">Build Muscle</div>
            </a>
        </li>
        <li>
            <a href="#burnFat">
                <div class="label">Burn Fat</div>
            </a>
        </li>
        <li>
            <a href="#photoCarroussel">
                <div class="label">Programs</div>
            </a>
        </li>
        <li>
            <a href="#contactPanelContainer">
                <div class="label">Contact</div>
            </a>
        </li>
    </ul>
</div>

@*WELCOME PANEL*@
<div id="welcomePanel" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pull-left">
                <div class="temp">
                    <img src="~/Content/images/Logos/NeilSmith_Logo.NoText.Black.svg" class="img-responsive">
                    <h2>NEIL SMITH FITNESS</h2>
                </div>
            </div>
        </div>
    </div>
</div>

@*BRIEF DESCRIPTION*@
<div class="container-fluid nopadding main" id="aboutMe">
    <div class="row nopadding">
        <div data-aos="zoom-in"
             data-aos-offset="250"
             data-aos-duration="800"
             data-aos-anchor="#aboutMe"
             class="col-md-6 col-sm-12 nopadding noDisplayForMobile">
            <img src="~/Content/images/NeilSmith_AboutMe.jpg" class="img-responsive">
        </div>
        <div data-aos="zoom-in"
             data-aos-offset="250"
             data-aos-duration="800"
             data-aos-anchor="#aboutMe" class="col-md-6 col-sm-12 aboutMeText">
            <div class="container-fluid card">
                <h3>Hi, I'm Neil</h3>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <br/>
                <div>
                    <button type="button" class="btn btn-primary-outline">More about me here!</button>
                </div>
            </div>
        </div>
    </div>
</div>

@*Build Muscle*@
<div id="buildMuscle" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div data-aos="fade-left" data-aos-offset="500" data-aos-duration="1500" class="col-md-5 pull-right">
                <div class="temp">
                    <h2>Build<br />Muscle</h2>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary-outline">More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*SLOGAN PANEL*@
<div class="container-fluid main" id="slogan">
    <div class="container">
        <div class="row">
            <div class="sloganContainer">
                A GOAL Without A PLAN Is Just A Wish.
            </div>
        </div>
    </div>
</div>

@*Burn Fat*@
<div id="burnFat" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div data-aos="fade-right" data-aos-offset="500" data-aos-duration="1500" class="col-md-5 pull-left">
                <div class="temp">
                    <h2>Burn<br />Fat</h2>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary-outline">More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*Carroussel*@
<div class="container-fluid nopadding main" id="photoCarroussel">
    <div class="row nopadding">
        <div data-aos="zoom-in"
             data-aos-offset="500"
             data-aos-duration="800"
             data-aos-anchor="#photoCarroussel" class="col-md-4 col-sm-12 noDisplayForMobile carroussel">
            <ul class="rslides">
                <li><img src="~/Content/images/NeilSmith - PT/NeilSmith - PT01.jpg" class="img-responsive" alt=""></li>
                <li><img src="~/Content/images/NeilSmith - PT/NeilSmith - PT02.jpg" class="img-responsive" alt=""></li>
                <li><img src="~/Content/images/NeilSmith - PT/NeilSmith - PT04.jpg" class="img-responsive" alt=""></li>
                <li><img src="~/Content/images/NeilSmith - PT/NeilSmith - PT05.jpg" class="img-responsive" alt=""></li>
                <li><img src="~/Content/images/NeilSmith - PT/NeilSmith - PT07.jpg" class="img-responsive" alt=""></li>
                <li><img src="~/Content/images/NeilSmith - PT/NeilSmith - PT08.jpg" class="img-responsive" alt=""></li>
                <li><img src="~/Content/images/NeilSmith - PT/NeilSmith - PT09.jpg" class="img-responsive" alt=""></li>
                <li><img src="~/Content/images/NeilSmith - PT/NeilSmith - PT10.jpg" class="img-responsive" alt=""></li>
            </ul>
        </div>
        <div data-aos="zoom-in"
             data-aos-offset="500"
             data-aos-duration="800"
             data-aos-anchor="#photoCarroussel" class="col-md-8 col-sm-12">
            <div class="container-fluid card">
                <h3>How Can I Help You</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="row">
                    <div class="col-md-4">
                        <div class="programType">
                            <h4>4 Weeks Membership</h4>
                            <div>
                                <button type="button" class="btn btn-primary-outline">Know more</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="programType">
                            <h4>2 Months Membership</h4>
                            <div>
                                <button type="button" class="btn btn-primary-outline">Know more</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="programType">
                            <h4>Diet Plan</h4>
                            <div>
                                <button type="button" class="btn btn-primary-outline">Know more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*CONTACT*@
<div id="contactPanelContainer" class="contactPanel" data-stellar-background-ratio="0.5">
    <div class="container">
        <div data-aos="zoom-in" data-aos-offset="250">
            <h2>A question?</h2>
        </div>
        <div data-aos="flip-down"
                data-aos-offset="400"
                class="col-lg-12">
            @Html.Partial("~/Views/Home/_Contact.cshtml")
        </div>
    </div>
</div>

@*SPINNER LOADING*@
<div id="loading">
    <div id="loadingcontent">
        <p id="loadingspinner">
            Currently sending your information...
        </p>
    </div>
</div>

@*MODAL POPUP*@
<div id="successModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="text-center">
                <div class="modal-header">
                    <img id="imageresource" src="../Content/img/contact-us.png">
                    <h3>Your WebDev Agency</h3>
                </div>
                <div>

                </div>
            </div>
            <div class="modal-body">
                <h4 id="showSuccessMessage" class="modal-title text-center">@Html.Raw(ViewBag.ShowSuccessMessage)</h4>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-sm btn-primary btn-raised" data-dismiss="modal">Continue on the site...</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
